body {
  background-image: url('../images/shattered.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-color: #AAA;
  font-family: 'Lato', sans-serif;
}

main {
  height: 97%;
}

main > .grid {
  height: inherit;
}

i.icon {
  // Reset right margin which offsets centered icons
  margin-right: 0;
}

footer {
  color: #5d5d5d;
}
