<div class="ui secondary fixed menu">
  <!-- <a class="ui item" href="home">Home</a> -->
</div>
<main class="ui container">
  {{{main}}}
</main>
<footer class="footer">
  <div class="ui center aligned grid container">
    <div class="column">
      &copy; {{year}} {{site_title}}
    </div>
  </div>
</footer>
