<div class="ui center aligned page vertically divided grid">
  <div class="single column bottom aligned row">
    <div class="column">
      <p>
        Hello. I'm Ryan. I currently work at CME Group where I help create some of the applications backing the world's largest derivatives exchange.
      </p>
    </div>
  </div>
  <div class="three column center aligned row">
    <div class="column">
      <a class="item" href="https://github.com/wateryan" target="_blank">
        <i class="ui big github icon"></i>
        <div class "middle aligned content">
         {{github}}
        </div>
      </a>
    </div>
    <div class="column">
      <a class="item" href="https://www.linkedin.com/in/rmwaters" target="_blank">
        <i class="big linkedin icon"></i>
        <div class "middle aligned content">
         {{linkedIn}}
       </div>
      </a>
    </div>
    <div class="column">
      <a class="item" href="https://gitlab.com/wateryan" target="_blank">
        <i class="big gitlab icon"></i>
        <div class "middle aligned content">
         {{gitlab}}
       </di>
      </a>
    </div>
  </div>
</div>
